[submodule "spdlog"]
	path = nino/vendor/spdlog
	url = https://github.com/MatheusMarchetti/spdlog
[submodule "nino/vendor/imgui"]
	path = nino/vendor/imgui
	url = https://github.com/MatheusMarchetti/imgui.git
[submodule "nino/vendor/DirectXTK"]
	path = nino/vendor/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "nino/vendor/assimp"]
	path = nino/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "nino/vendor/inih"]
	path = nino/vendor/inih
	url = https://github.com/jtilly/inih.git
