[submodule "spdlog"]
	path = nino-core/vendor/spdlog
	url = https://github.com/MatheusMarchetti/spdlog
[submodule "nino/vendor/imgui"]
	path = nino/vendor/imgui
	url = https://github.com/MatheusMarchetti/imgui.git
[submodule "nino/vendor/DirectXTK"]
	path = nino/vendor/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
