[submodule "spdlog"]
	path = nino-core/vendor/spdlog
	url = https://github.com/MatheusMarchetti/spdlog
[submodule "nino/vendor/imgui"]
	path = nino/vendor/imgui
	url = https://github.com/MatheusMarchetti/imgui.git
